<table class="table table-hover table-striped table-condensed">
  <tr>
	<th>Name</th>
	<th>Categories</th>
	<th>Description</th>
	<th>Street</th>
	<th>City</th>
	<th>State</th>
	<th>Zip Code</th>
	<th>Phone Number</th>
	<th></th>
	<th></th>
	<th></th>
	<th></th>
  </tr>
 
  <% @restaurants.each do |restaurant| %>
    <tr>
		<td><%= restaurant.name %></td>

		<td>
			<% restaurant.categories.each do |c| %>
				<%= link_to c.name, category_path(c) %>&nbsp;
			<% end %>
		</td>

		<td><%= restaurant.description %></td>
		<td><%= restaurant.street %></td>
		<td><%= restaurant.city %></td>
		<td><%= restaurant.state %></td>
		<td><%= restaurant.zipCode %></td>
		<td><%= restaurant.phoneNumber %></td>
		<% if current_owner == restaurant.owner %>
			<td><%= link_to 'Show', restaurant_path(restaurant) %></td>
			<td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
			<td><%= link_to 'Delete', restaurant_path(restaurant), method: :delete %></td>
			<td/>
		<% else %>
		     <td><%= link_to 'Make Reservation', edit_restaurant_path(restaurant) %></td>
		     <td/>
		     <td/>
		     <td/>
		<% end %>
    </tr>
  <% end %>
</table>
