<p class="lead">Edit Restaurant</p>

<% if @restaurant && @restaurant.errors.any? %>

  <p id="errors" class="bg-danger">
    <%= pluralize(@restaurant.errors.count, "error") %> when trying to save this restaurant:
    
      <% @restaurant.errors.full_messages.each do |msg| %>
        <br><%= msg%>
      <% end %>
  </p>
<% end %>
<%= form_for :restaurant, url: restaurant_path(@restaurant), method: :patch,  html: {class: "form-horizontal", role: "form"} do |f| %>

  <div class="form-group">
    <%= f.label :name, "Name", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :name, class:"form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, "Description", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_area :description, class:"form-control", size: "20x10" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :street, "Street", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :street, class:"form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :city, "City", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :city, class:"form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :state, "State", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :state, class:"form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :zipCode, "Zip Code", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :zipCode, class:"form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :phoneNumber, "Phone Number", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.phone_field :phoneNumber, class:"form-control", pattern:'\d{3}[\-]\d{3}[\-]\d{4}'  %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :picture, "Picture", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= image_tag @restaurant.picture_url(:thumb).to_s if @restaurant.picture? %></p>
      <%= f.file_field :picture, class: "form-control"  %>
      <%= f.hidden_field :picture_cache %>
    </div>
  </div>
  <div class="form-group">
      <div class="col-sm-offset-2 col-sm-2">
        <%= f.submit "Update Restaurant", class:"btn btn-default"%>
      </div>
      <div class="col-sm-8">
        <%= link_to 'Back to Restaurant List', restaurants_path, class: "btn btn-default" %>
      </div>
    </div>
<% end %>
