<p class="lead">Restaurant Details</p>

<form class="form-horizontal">

  <div class="form-group">
    <label class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      <p class="form-control-static"><%= @restaurant.name %></p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Owner's Name</label>
    <div class="col-sm-10">
      <p class="form-control-static"><%= @restaurant.owner.name %></p>
    </div>
  </div>  <div class="form-group">
    <label class="col-sm-2 control-label">Description</label>
    <div class="col-sm-10">
      <p class="form-control-static"><%= @restaurant.description %></p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Street</label>
    <div class="col-sm-10">
      <p class="form-control-static"><%= @restaurant.street %></p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">City</label>
    <div class="col-sm-10">
      <p class="form-control-static"><%= @restaurant.city %></p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">State</label>
    <div class="col-sm-10">
      <p class="form-control-static"><%= @restaurant.state %></p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Zip Code</label>
    <div class="col-sm-10">
      <p class="form-control-static"><%= @restaurant.zipCode %></p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Phone Number</label>
    <div class="col-sm-10">
      <p class="form-control-static"><%= @restaurant.phoneNumber %></p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Map</label>
    <div class="col-sm-10">
      <p class="form-control-static">
        <%= link_to image_tag("http://maps.googleapis.com/maps/api/staticmap?key=#{ENV['GOOGLE_STATIC_MAPS_API_KEY']}&size=400x400&maptype=roadmap&markers=size:mid|color:red|#{@restaurant.street}, #{@restaurant.city}, #{@restaurant.state} #{@restaurant.zipCode}"), "http://maps.google.com?q=#{@restaurant.street}, #{@restaurant.city}, #{@restaurant.state} #{@restaurant.zipCode}"
        %>
      </p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Picture</label>
    <div class="col-sm-10">
      <p class="form-control-static"><%= image_tag @restaurant.picture_url(:thumb).to_s if @restaurant.picture? %></p>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-2">
      <%= link_to 'Edit', edit_restaurant_path(@restaurant), class: "btn btn-default" %>
    </div>
    <div class="col-sm-8">
      <%= link_to 'Back to Restaurant List', restaurants_path, class: "btn btn-default" %>
    </div>
  </div>
</form>
