<p class="lead">Restaurant Details</p>

<form class="form-horizontal">

  <div class="form-group">
    <label class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      <p class="form-control-static"><%= @restaurant.name %></p>
    </div>
  </div>

</form>

<p>
  <label></label>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @restaurant.description %>
</p>

<p>
  <strong>Street:</strong>
  <%= @restaurant.street %>
</p>

<p>
  <strong>City:</strong>
  <%= @restaurant.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @restaurant.state %>
</p>

<p>
  <strong>Zip Code:</strong>
  <%= @restaurant.zipCode %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= @restaurant.phoneNumber %>
</p>
<!--
<%= image_tag(@restaurant.picture_url) if @restaurant.picture? %>
-->
<%= image_tag @restaurant.picture_url.to_s %>

<br>
<%= link_to 'Edit', edit_restaurant_path(@restaurant), class: "btn btn-default" %>
<%= link_to 'Back to Restaurant List', restaurants_path, class: "btn btn-default" %>
